@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
}
.Website-name {
  color: #131313;
  text-align: center;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav a {
  color: #424242;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
/* ?Banner  */
.Banner-Container {
  margin-top: 102px;
}
.Banner-Text-Container {
  max-width: 54.25rem;
  margin: 0 auto;
  text-align: center;
}
.Banner-Title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 36px;
}
.Banner-Description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 32px;
}
.btn {
  background: #ff900e;
  border-radius: 0.5rem;
  border: none;
  padding: 21px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 50px;
}
.Banner-Container img {
  width: 100%;
  margin-bottom: 45px;
}
/* ?main */
main {
  max-width: 1440px;
  padding: 85px 240px;
}
/* ?Team features  */
.Team-Features-Container {
  display: flex;
  align-items: center;
  gap: 76px;
}
.Team-Features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.Team-Features-Text-Container {
  max-width: 537px;
}
.Features-Container-Title {
  color: #727272;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.Of-Our {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: bold;
}
.Features {
  color: #ff900e;
  font-weight: 700;
}
.Features-Container-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom:32px;
}

/* !media Quary */
@media screen and (max-width: 425px) {
  header {
    padding: 20px 40px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    justify-content: center;
    margin-top: 10px;
  }
  nav a {
    font-weight: 700;
  }
  /* ?Banner  */
  .Banner-Title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .Banner-Description {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 15px;
  }
  .btn {
    margin-bottom: 25px;
  }
  .Banner-Container img {
    margin-bottom: 25px;
  }
  /* ?main  */
  main{
    padding:85px 40px ;
  }
  .Team-Features-Container{
    flex-direction: column;
    text-align: center;
  }
  .Team-Features-img{
    grid-template-columns:repeat(1,1fr);
  }
}

/* Test perpose */
body {
  /* background-color: rgba(220, 20, 60, 0.623); */
}
