@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
}
.Website-name {
  color: #131313;
  text-align: center;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
nav a {
  color: #424242;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
/* ?Banner  */
.Banner-Container {
  margin-top: 102px;
}
.Banner-Text-Container {
  max-width: 54.25rem;
  margin: 0 auto;
  text-align: center;
}
.Banner-Title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 36px;
}
.Banner-Description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 32px;
}
.btn {
  background: #ff900e;
  border-radius: 0.5rem;
  border: none;
  padding: 21px 25px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 50px;
}
.btn:hover {
  background: #dd7c0d;
}
.Banner-Container img {
  width: 100%;
  margin-bottom: 45px;
}
/* ?main */
main {
  max-width: 1440px;
  padding: 85px 240px;
}
/* ?Team features  */
.Team-Features-Container {
  display: flex;
  align-items: center;
  gap: 76px;
}
.Team-Features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.Team-Features-Text-Container {
  max-width: 537px;
}
.Features-Container-Title {
  color: #727272;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.Of-Our {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: bold;
}
.Features {
  color: #ff900e;
  font-weight: 700;
}
.Features-Container-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 32px;
}
/* ?OUr Features  */
.Our-Features {
  margin-top: 130px;
  display: flex;
  gap: 54px;
  height: 100vh;
}
.Our-Features-Container-Title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
  width: 29.25rem;
  border-left: 3px solid #ff900e;
  padding-left: 26px;
  margin-bottom: 24px;
}
.Our-Features-Container-Description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 30px;
}
.Feature-Container {
  max-width: 586px;
}
.Feature {
  padding: 30px 33px;
}
.Feature-Title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature-description {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
.Feature-Container-Img {
  height: 100%;
  position: relative;
}
.btn2 {
  background: #ff900e;
  border-radius: 0.5rem;
  border: none;
  padding: 36px 42px;
  color: #fff;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  position: absolute;
  left: 45%;
  top: 340%;
  cursor: pointer;
}
.btn2:hover {
  background: #dd7c0d;
}
.year {
  color: #fff;
  text-align: center;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem;
}
/* ?Facts  */
.Facts-Container-title {
  color: #131313;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 130px;
  margin-bottom: 24px;
}
.Facts-Container-description {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  width: 33.875rem;
  margin-bottom: 100px;
}
.Facts-Iteam-Container {
  display: flex;
  justify-content: space-around;
}
.fact {
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #ff900e;
  padding: 45px 35px;
}
.fact img {
  margin-bottom: 10px;
}
.Fact-tilte {
  color: #424242;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5px;
}
.Fact-subtilte {
  color: #727272;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

/* !media Quary */
@media screen and (max-width: 425px) {
  header {
    padding: 20px 40px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    justify-content: center;
    margin-top: 10px;
  }
  nav a {
    font-weight: 700;
  }
  /* ?Banner  */
  .Banner-Title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .Banner-Description {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 15px;
  }
  .btn {
    margin-bottom: 25px;
  }
  .Banner-Container img {
    margin-bottom: 25px;
  }
  /* ?main  */
  main {
    padding: 85px 40px;
  }
  .Team-Features-Container {
    flex-direction: column;
    text-align: center;
  }
  .Team-Features-img {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ?Our Feature  */
  .Our-Features {
    flex-direction: column;
  }
  .Feature-Container-Img {
    width: 100%;
  }
  .Our-Features-Container-Title {
    font-size: 1.8125rem;
    width: 19.25rem;
  }
  .Feature {
    padding: 20px 0px;
  }
  .btn2 {
    left: 30%;
    top: 517%;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 20px 30px;
  }
  .year {
    font-size: 1.5rem;
    line-height: 0;
  }
  .Facts-Container{
    margin-top:830px;
  }
  .Facts-Container-description{
    width: 23.875rem;
    margin-bottom:50px;
  }
  .Facts-Iteam-Container{
    flex-direction: column;
  }
  .fact{
    margin-bottom:20px;
  }
}

/* Test perpose */
body {
  /* background-color: rgba(220, 20, 60, 0.623); */
}
